$color-A: hsl(359, 00%, 50%);
$color-B: hsl(0, 70%, 50%);
$color-C: hsl(25, 70%, 50%);
$color-D: hsl(50, 70%, 50%);
$color-E: hsl(150, 70%, 50%);
$color-F: hsl(200, 70%, 50%);
$color-G: #4F5B93;//hsl(270, 70%, 50%);
$color-H: #c6538c;//hsl(270, 70%, 50%);

$color-selection: #FF0;